.main__gallery,
.main__partners,
.main__features,
.main__testimonials,
.main__content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title,
.main__subtitle {
    font-family: RobotoL, sans-serif;
    margin-bottom: 0;
}

.main__title {
    margin-top: 162px;
    font-size: 62px;
}

.main__subtitle {
    width: 35%;
    text-align: center;
    margin-top: 27px;
    font-size: 20px;
}


.main__image {
    margin-top: 80px;
    display: flex;
}

.main__image ul{
    padding: 0;
    margin-top: -35px;
}

.main__image ul li{
    margin-top: 35px;
    list-style-type: none;
}

.main_li_header {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: RobotoM, sans-serif;
    
}

.main_li_header img {
    margin-right: 13px;
}

.main_li_footer {
    width: 270px;
    font-size: 16px;
    font-family: RobotoL, sans-serif;
    display: inline-block;
    margin-top: 20px;
}

.main__cards {
    margin-top: 44px;
    display: flex;
    justify-content: center;   
}

.main__card {
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 40px 35px;
}

.main__card h1 {
    margin: 0;
    color: black;
    font-size: 20px;
    font-family: RobotoM, sans-serif;
    text-align: center;
}

.main__card h5 {
    margin: 0;
    margin-top: 30px;
    color: #5C5C5C;
    font-family: RobotoL, sans-serif;
    text-align: center;
    width: 270px;
}
.first__card {
    margin-right: 33px;
}

.galllery__second__row,
.galllery__first__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
}

.gallery__section img {
    margin-right: 33px;
    border-radius: 12px;
}
.galllery__second__row {
    margin-bottom: 44px;
}

.partners__images {
    margin-left: 74px;
}

.partners__images img {
    margin-right: 74px;
    margin-bottom: 54px;
    margin-top: 54px;
}

.testimonials {
    align-items: center;
    align-content: center;
    margin-top: 50px;
    height: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.testimonial {
    margin-bottom: 20px;
    margin-right: 23px;
    border: 1px white solid;
    border-radius: 10px;
    padding: 40px;
    width: 430px;
}

.testimonial__title {
    display: flex;
}

.testimonial__title img {
    margin-right: 23px;
}

.testimonial__name,
.testimonial__job {
    font-family: RobotoM, sans-serif;
}
.testimonial__name {
    margin-bottom: 6px;
}

.testimonial__title {
    margin-bottom: 30px;
}
.testimonial__content {
    font-family: RobotoL;
}